
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font: 1em 'Playfair Display', serif;
}

.logo h1 {
	font: 2em 'Inconsolata', monospace;
	text-transform: uppercase;
}

li > a {
	text-decoration: none;
	text-transform: uppercase;
	color: #7d7d7d;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

section {
	padding-top: 65px;
}

span.ubuntu-serif {
	display: inline-block;
	padding-bottom: 30px;
	font-family: Ubuntu, sans-serif;
	text-transform: uppercase;
	color: #7d7d7d;
}

h3, h4, section.sign-up p {
	font-size: 2em;
}
/* ///////////////////////////////////////////////////// */
/* /////////////welcome-section//////////////////////////*/
/* ///////////////////////////////////////////////////// */

.welcome-section .container {
	background: #fff url(../img/hero-img.jpg) 50% 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 550px;
}

.welcome-section header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

ul.main-nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

ul.main-nav li {margin-left: 110px;}

/* ///////////////////////////////////////////////////// */
/* /////////////description//////////////////////////////*/
/* ///////////////////////////////////////////////////// */

.description article {padding: 0 80px;}

.description article p {padding: 30px 0;}

/* ///////////////////////////////////////////////////// */
/* /////////////our-work section////////////////////*/
/* ///////////////other-info section//////////////////// */

ul.portfolio {
	padding: 0 80px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

ul.portfolio li {
	max-width: 420px;
	margin-top: 40px;
}

ul.portfolio li img {margin-bottom: 40px;}

ul.portfolio li p {padding: 40px 0;}

.load-more {
	padding: 120px 0 30px;
	text-align: center;
}

.load-more a {
	padding: 10px 25px;
	border: 1px solid #000;
	text-decoration: none;
	color: #7d7d7d;
}

/* ///////////////////////////////////////////////////// */
/* /////////////sign-up section////////////////////////*/
/* ///////////////////////////////////////////////////// */

section.sign-up {
	background-color: #f0f0f0;
	text-align: center;
}

section.sign-up form {
	padding: 50px;
}

input[type="email"] {
	/* width: 250px; */
	background-color: #f0f0f0;
	border: none;
	border-bottom: 1px solid #000;	
}

input[value] {
	padding: 0 150px 10px 0;
	font-family: "Playfair Display", serif;
	color: #7d7d7d;	
}

button[type="submit"] {
	border: none;
	background-color: #f0f0f0;
	transform-origin: 0 -60px;
	transform: rotate(30deg);
}

/* ///////////////////////////////////////////////////// */
/* /////////////footer/////////////////////////////*/
/* ///////////////////////////////////////////////////// */
footer {
	padding: 25px 0;
	background-color: #f0f0f0;
}

footer .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex; 

	justify-content: space-between;
	flex-flow: row wrap;
	align-items: center;
}

footer .container ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

footer .container ul li {
	margin-right: 20px;
}