.contact-section {
	.container {
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		text-align: left;
		p {	
			padding-bottom: 20px;
			text-transform: uppercase;
			font-family: "Playfair Bold";
			color: #2b224c;
		}
	}
	form {
		display: flex;
		margin-right: 60px;
		flex-direction: column;
		justify-content: space-between;

	}  @media screen and (max-width: 700px) {
    form {
      justify-content: flex-start; } }

	[placeholder] {
		padding: 10px;
	}
	textarea {
		resize: none;
	}
	button {
		width: 100px;
		background: transparent;
		text-transform: uppercase;
		color: aqua;
		font-family: "Roboto Black";
		border: 2px solid aqua;
		padding: 6px;
		}
}