footer {
	background: $white-color url(../img/footer-bg.jpg) 50% 50% no-repeat;
	//width: 1600px;
	height: 400px;
	background-size: cover;
	.transparent-layer {	
		height: 100%;
		padding: 50px 0;
		background-color: rgba(58, 33, 123, 0.77);
	}
}
	.top-footer {
		display: flex;
		max-width: 1200px;
		margin: 0 auto;
		justify-content: space-evenly;
		flex-flow: row wrap;
		color: $white-color;
		.col {
			width: 300px;
		address {
			display: inline;
			padding-left: 10px;
			}
		}

	p.upper {
		padding-bottom: 30px;
		font-family: "Roboto Black";
		text-transform: uppercase;	
	}
	
	li.address {
		width: 200px;
	}

	.tajam-text {
		padding-left: 10px;
		vertical-align: top;
		font-family: "Roboto Thin", sans-serif;
		font-size: 2em;
		color: #00e0d0;
	}

	input[type="email"] {
		background-color: rgba(255,255,255, .2);
		border: 1px solid #a29ab4;
	}
	[placeholder] {
		padding: 10px;
		font-family: "Roboto Light";
		color: #a29ab4;

	}

	ul.social-list {
		display: flex;
		//color: $white-color;
	}

.bottom-footer {
	display: flex;
	justify-content: space-around;
	margin-top: 45px;
	color: $white-color;
	ul {
		display: flex;
		flex-flow: row wrap;
	}
	li {
		margin-left: 30px;
		a {
			text-decoration: none;
			text-transform: uppercase;
			color: $white-color;
		}
	}
	}
	}