.welcome-section {
	height: 100vh;
	background: $white-color url(../img/hero-img.jpg) 50% 0 no-repeat;
	background-size: cover;
	background-attachment: fixed;
	.transparent-layer {	
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
		height: calc(100% - 15px);
		padding-top: 15px;
		background-color: rgba(58, 33, 123, 0.77);
	}
	.aContainer {
		max-width: 1200px;
		margin: 0 auto;
	}
	.display-flex-row {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;

		flex-flow: row wrap;
	}

	header {
		display: flex;
		justify-content: space-around;
		align-items: center;
		.aContainer {
			justify-content: space-between;
			align-items: center;
		}
		.logo {
			display: flex;
			align-items: center;
			h1 {
				padding-left: 10px;
				font-family: "Roboto Thin", sans-serif;
				font-size: 2.5em;
				color: #00e0d0;
			}
		}
	}
	.main-nav {
		display: flex;
		align-items: center;
		li {
			padding-right: 20px;
			display: inline-block;
			
		}
	}
	.hero {
		// position: relative;
		// bottom: -300px;
		margin: auto;
		max-width: 700px;
		// width: calc(100% - 700px);
		text-align: center;
		h2 {
			font-family: "Playfair Black";
			font-size: 2.6em;
			color: $white-color;
			// padding-bottom: 30px;
			&:after{
				display: block;
				width: 45px;
				margin: 30px auto;
				border-bottom: 1px solid #00e0d0;
				content: "";
			} @media screen and (max-width: 700px) {
    .hero {
      overflow: hidden } }
		}
		p {
			font-family: "Roboto Light";
			line-height: 1.6em; 
			color: #6e6983;
		}
	}
}
