
@font-face {
	font-family: "Playfair Regular";
	src: url('../fonts/Playfair_display/PlayfairDisplay-Regular.ttf'); 
}

@font-face {
	font-family: "Playfair Bold";
	src: url('../fonts/Playfair_display/PlayfairDisplay-Bold.ttf'); 
}

@font-face {
	font-family: "Playfair Black";
	src: url('../fonts/Playfair_display/PlayfairDisplay-Black.ttf'); 
}

@font-face {
	font-family: "Roboto Thin";
	src: url('../fonts/Roboto/Roboto-Thin.ttf'); 
}

@font-face {
	font-family: "Roboto Black";
	src: url('../fonts/Roboto/Roboto-Black.ttf'); 
}

@font-face {
	font-family: "Roboto Light";
	src: url('../fonts/Roboto/Roboto-Light.ttf'); 
}
body {
	font-family: "Playfair Regular";
}

nav li a {
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
	font-family: "Roboto Black";
	color: #fff;
	transition: all .11s ease-in;
	&:hover{
		border-color: #00e0d0;
		color: #00e0d0;
	}
}
a.link-btn {
	text-decoration: none;
	text-transform: uppercase;
	color: aqua;
	font-family: "Roboto Black";
	display: inline-block;
	border: 1px solid aqua;
	padding: 10px;
	margin-top: 40px;
}
.container {
	padding: 40px 0;
	text-align: center;
}

h3, p.clients-list {
	text-transform: uppercase;
	font-family: "Playfair Bold";
	color: #66636d;
}

@import "compass/reset";
@import "welcome-section";
@import "ourStory-section";
@import "watchStory-section";
@import "expertise-section";
@import "ourTeam-section";
@import "ourWorks-section";
@import "reviews-section";