footer {
	height: 20vh;
	background: #fff url(../img/footer-bg.jpg) 0 0 no-repeat;
	background-size: cover;
	p {
		padding-top: 50px;
		font-family: "Roboto Light";
		color: #fff;
	}
	span a {
		font-family: "Roboto Bold";
		color: #fff;
	}
}