.info-section {



	// TODO: with Bootstrap

	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	a.red {
		@extend a.link-btn;
		background-color: #dd4b2b;
		color: #fff;
	}
	a.blue {
		@extend a.link-btn;
		background-color: #4b4e73;
		color: #fff;
	}
	.container-block {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex: 1 300px 2;
		width: 400px;
		height: 400px;
		outline: 1px solid #ccc;
	}
}