.transparent-block {
		height: 100%;
		background-color: rgba(6, 6, 6, 0.38);
	}
.mailing-section {
	padding: 0;
	background: #fff url(../img/newsletter-bg.jpg) 50% 0 no-repeat;
	background-size: cover;
	
	h3 {
		padding: 45px 0 20px;
		color: #fff;
	}
	p {
		padding-bottom: 30px;
		color: #fff;
		line-height: 1.5;
	}
	form {
		margin-bottom: 80px;
		input[placeholder] {
			// margin: 3% auto 7%;
			padding: 15px 80px 15px 40px;
			border: 1px solid #fff;
			border-radius: 25px 0 0 25px;
			font-family: "Roboto Regular";
			color: #fff;
			background-color: rgba(237, 237, 237, 0.36);
			
		}
		input[type="submit"] {
			// background-color: rgba(255, 255, 255, 0);
			transform: translate(-25%, 0);
			padding: 15px 50px;
			border-radius: 25px;
			text-align: center;
			background-color: #fff;
			color: brown;
			font-family: "Roboto Regular";
			color: #fff;
		}
	}
}