.news-section {
	background-color: #edeff1;
	h3 {
		margin-bottom: 50px;
	}

	.news-list {
	
		img {
			border-radius: 5px;
			max-width: 260px;
		}
		h4 {
			padding-top: 15px;
			font-family: "Roboto Bold";
			font-size: 1.5em;
		}
		a {
			@extend a.link-btn;
		}
	}

}