.services-section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

// TODO: with Bootstrap


	background-color: #d75d0e;
	.services-list {
		margin-left: 50px;
		li a {
			color: #fff;
		}
	}

}