// чого якшо писати спільні стилі в screen.scss вони не працюють?
body {
	font-family: "Roboto Regular";
	text-align: center;
}
section {
	padding: 20px 0;
}

h3 {

	font-family: "Roboto Bold";
	font-size: 2.5em;
}

a.link-btn {
		display: inline-block;
		margin-top: 30px;
		padding: 15px 50px;
		border-radius: 24px;
		background-color: #fff;
		color: #612316;
	}
	
.gradient {
		height: calc(100% + 35px);
		background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.82), rgba(255, 255, 255, 0));
		background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.82), rgba(255, 255, 255, 0));
		background: linear-gradient(to top, rgba(0, 0, 0, 0.82), rgba(255, 255, 255, 0));
}			

.welcome-section {
	height: 100vh;
	background: #ccc url(../img/hero-image.jpg) 50% 105px no-repeat;
	background-size: cover;
	//background-attachment: fixed;

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 28px;
	@media only screen and (max-width: 900px) { 
		justify-content: space-between; }
	h1 {
		font-family: "Roboto Bold";
		font-size: 2em;
		span {
			display: block;
			font-family: "Roboto Regular";
			font-size: 0.5em;
			color: #dd4b2b;
		}
	}
	ul {
		display: flex;
		li {
			margin-right: 40px;
			@media only screen and (max-width: 900px) { 
		margin-right: 10px; }

			// TODO: some efect from http://ianlunn.github.io/Hover/
			a {
				//display: inline-block;
				padding: 15px;
				border-radius: 15px;
				color: #31353e;


			}
		}
	}
}
	h2 {
		padding: 70px 0;
		font-family: "Roboto Light";
		font-size: 3em;
		color: #fff;
		span {
			display: block;
			margin-top: 10px;
			font-family: "Roboto Bold";
			font-size: .5em;
		}
	}
	.menu-list li img {
		width: 120px;
		border: 7px solid #edeff1;
		border-radius: 50%;
	}
	h4 {
		padding-top: 10px;
		font-family: "Roboto Bold";
		font-size: 1em;
		color: #edeff1;
	}
	p {
		font-family: "Roboto Light";
		font-size: .8em;
		color: #edeff1;
	}


	// TODO: make by bootstrap
	.menu-list {  
		
		}
	
}