// чого якшо писати спільні стилі в screen.scss вони не працюють?
body {
	font-family: "Roboto Regular";
	text-align: center;
}
section {
	padding: 20px 0;
}

#nav-icon {
	display: none;
	width: 60px;
	height: 45px;
	position: relative;
	top: 0;
	right: 2em;
	//margin: 50px auto;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	@media only screen and (max-width: 768px) {
		display: block;
	}
}
/* Icon 2 */

#nav-icon {

}

#nav-icon span {
	display: block;
	position: absolute;
	height: 9px;
	width: 50%;
	background: #dd4b2b;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#nav-icon span:nth-child(even) {
	left: 50%;
	border-radius: 0 9px 9px 0;
}

#nav-icon span:nth-child(odd) {
	left:0px;
	border-radius: 9px 0 0 9px;
}

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
	top: 0px;
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
	top: 18px;
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
	top: 36px;
}

#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
	left: 5px;
	top: 7px;
}

#nav-icon.open span:nth-child(2) {
	left: calc(50% - 5px);
	top: 7px;
}

#nav-icon.open span:nth-child(3) {
	left: -50%;
	opacity: 0;
}

#nav-icon.open span:nth-child(4) {
	left: 100%;
	opacity: 0;
}

#nav-icon.open span:nth-child(5) {
	left: 5px;
	top: 29px;
}

#nav-icon.open span:nth-child(6) {
	left: calc(50% - 5px);
	top: 29px;
}

h3 {
	font-family: "Roboto Bold";
	font-size: 2.5em;
}

a.link-btn {
		display: inline-block;
		margin: 30px 0 50px;
		padding: 15px 50px;
		border-radius: 24px;
		background-color: #fff;
		color: #612316;
	}
	
.gradient {
		//height: calc(100% + 35px);
	height: 100%;
		background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.82), rgba(255, 255, 255, 0));
		background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.82), rgba(255, 255, 255, 0));
		background: linear-gradient(to top, rgba(0, 0, 0, 0.82), rgba(255, 255, 255, 0));
}			

.welcome-section {
	height: 100vh;
	background: #ccc url(../img/hero-image.jpg) 50% 105px no-repeat;
	background-size: cover;
	//background-attachment: fixed; }
	@media screen and ( max-width: 1200px )
	{
		padding: 0;
		height: auto;
	}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 28px;
	@media only screen and (min-width: 769px) and (max-width: 899px) {
		justify-content: center;
	}
	//@media only screen and (max-width: 900px) {
	//	padding: 20px 25px 0;
	//	justify-content: space-between; }
	h1 {
		font-family: "Roboto Bold";
		font-size: 2em;
		span {
			display: block;
			font-family: "Roboto Regular";
			font-size: 0.5em;
			color: #dd4b2b;
		}
	}
	ul {
		display: flex;
		@media only screen and (max-width: 768px) {
			display: none; }
		li {
			margin-right: 40px;
			@media only screen and (max-width: 900px) {
		margin-right: 10px; }

			// TODO: some efect from http://ianlunn.github.io/Hover/
			a {
				//display: inline-block;
				padding: 10px 20px;
				border-radius: 15px;
				color: #31353e;


			}
		}
	}
}
	h2 {
		padding: 70px 0;
		font-family: "Roboto Light";
		font-size: 3em;
		color: #fff;
		span {
			display: block;
			margin-top: 10px;
			font-family: "Roboto Bold";
			font-size: .5em;
		}
	}
	.menu-list li img {
		width: 120px;
		border: 7px solid #edeff1;
		border-radius: 50%;
	}
	h4 {
		padding-top: 10px;
		font-family: "Roboto Bold";
		font-size: 1em;
		color: #edeff1;
	}
	p {
		font-family: "Roboto Light";
		font-size: .8em;
		color: #edeff1;
	}


	// TODO: make by bootstrap
	.menu-list {  
		
		}
	
}