@font-face {
  font-family: "Medium";
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Light";
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
$blue-color: #5584ff;
$dark-blue: #0e1a35;
$grey-color: #8c99b4;

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover {
    @extend a;
  }
}
ul {
  list-style: none;
}
@import "login";
@import "home";



