footer {
  margin-top: 50px;
  padding: 20px 0;
  background: $grey-color;
  .info-item {
    h5 {
      margin: 0 auto;
      padding-bottom: 10px;
      font-size: 1rem;
      color: #575153;
    }
    ul ~ ul {
      //margin-left: 30px;
    }
    li {
      padding-bottom: 15px;
    }
  }
  .awards {
    //display: flex;
    //justify-content: center;
    .award-block {
      //width: 28%;
      padding: 2rem;
      text-align: center;
      background: $dark-color;
      color: #fff;
      p {
        font-size: 2rem;
      }
    }
    .social-list-block {
      //width: 28%;
      margin-left: 15px;
      padding: 2rem;
      text-align: center;
      background: $mint-color;
      color: #fff;
      @media screen and (max-width: 968px) {
        margin: 0;
      }
      ul {
        display: flex;
        align-items: center;
        li {
          margin: auto;
        }
      }
    }
  }
}
.developinfo-block {
  display: flex;
  justify-content: space-around;
  padding: 7px;
  background: $dark-color;
  color: #fff;
  &> div {
    display: flex;
  }
}