.items-section {
  .items-div {
    border-top: 2px solid $grey-color;
    border-bottom: 2px solid $grey-color;
  }
  .secondary-nav {
    padding: 30px 0 0;
    li:hover {
      color: $mint-color;
    }
  }
  .items-div {
    margin: 0 auto;
    .item {
      //position: relative;
      padding: 10px 10px 5px;
    }
    .box-shadow {
      -webkit-box-shadow: 0 0 16px 3px #868a8a;
      -moz-box-shadow: 0 0 16px 3px #868a8a;
      box-shadow: 0 0 16px 3px #868a8a;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    .hide-block {
      position: absolute;
      bottom: -115px;
      left: 0;
      display: none;
      padding: 5px 0;
      width: 100%;
      z-index: 100;
      text-align: center;
      color: #727272;
      background: #fff;
      -webkit-box-shadow: 0 5px 11px 3px #868a8a;
      -moz-box-shadow: 0 5px 11px 3px #868a8a;
      box-shadow: 0 5px 11px 3px #868a8a;
      h4 {
        font-size: .8rem;
      }
      p {
        margin: 0;
      }
    }
  }
  .social-list {
    display: flex;
    margin: 5px auto;
    justify-content: center;
    li {
      margin-right: 10px;
      width: 30px;
      height: 30px;
      background: #737373;
      color: #fff;
      border-radius: 50%;
      line-height: 2;
      transition: all .1s ease-in-out;
      &:hover {
        background: $mint-color;
        color: #fff;
      }
    }
  }
}