body {
  font-family: sans-serif;
}
.register-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $dark-color;
  color: #777;
  .currency {
    padding: 12px;
    &:before {
      content: 'Currency: ';
    }
  }
  select {
    display: inline-block;
    background: $dark-color;
    border: none;
    color: #777;
  }
  .register-form {
    display: flex;
    padding: 12px;
    span {
      margin-right: 10px;
      cursor: pointer;
    }
  }
  .basket {
    margin-left: 50px;
    &:hover {
      //margin: -13px 0 -12px 50px; зробить норм ховер ефект
      //line-height: 2.5;
      background: $mint-color;
      color: #fff;
    }
  }
}
.welcome-section {
  height: 76vh;
  background: #f8f8f8 url(../img/slider-photo1.png) no-repeat;
  h1 {
    display: inline-block;
    font-size: 1.5rem;
    &:hover {
      text-shadow: 4px 2px 2px rgba(150, 150, 150, 0.77);
    }
  }
  form {
    max-width: 300px;
    padding: 2px 4px;
    border: 1px solid #ccc;
    input {
      max-width: 93px;
      border: none;
      background: $grey-color;
    }
  }
  .ave-name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media only screen and (max-width: 968px) {
      display: block;
      text-align: right;
    }
    h2 {
      margin-top: 10rem;
      //text-align: center;
      font-weight: 700;
      font-size: 17rem;
      letter-spacing: 12rem;
      background-color: #000;
      color: transparent;
      text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      @media only screen and (max-width: 1200px) {
        font-size: 10rem;
      }
      @media only screen and (max-width: 968px) {
        letter-spacing: 6rem;
        font-size: 10rem;
      }
      @media only screen and (max-width: 600px) {
        letter-spacing: 2rem;
        font-size: 5rem;
      }
    }
    a.btn-style {
      margin-right: 13rem;
    }
  }
}
.main-nav {
  float: right;
  nav {
    display: flex;
    align-items: center;
  }
  .hide-list {
    display: none;
    width: 300px;
    position: absolute;
    top: 12px;
    background: #fff;
    z-index: 1000;
    padding: 15px;
    left: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.47);
  }
  ul.nav-list li {
    position: relative;
    margin-right: 25px;
    transition: all .2s ease-out;
    &:hover > .hide-list {
      display: block;
    }
    .flex-div {
      display: flex;
      justify-content: space-around;
      span {
        display: inline-block;
        padding-bottom: 10px;
      }
      li {
        padding-bottom: 15px;
        color: #737373;
        text-transform: none;
        transition: all .2s ease-out;
        &:hover {
          text-shadow: 11px 6px 1px #b9b8bb;
        }
      }
    }
    p {
      text-align: center;
      padding: 1.5rem;
      background: #000;
      color: #fff;
      line-height: 1.5;
      font-size: 2rem;
    }
  }
}