@import url("../css/normalize.css");
.welcome-section {
  background: url("../img/welcomeBg.jpg") 50% 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh; }

.welcome-section .opacity-block {
  height: 100%;
  background: rgba(0, 0, 0, 0.55); }

.welcome-section header {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between; }

.welcome-section header ul {
  display: flex; }

.welcome-section header ul li {
  width: 90px;
  margin-left: 7px;
  white-space: nowrap;
  transition: all 1s ease-out; }

.welcome-section header ul li:hover a {
  color: #f6961b;
  letter-spacing: 3px;
  font-weight: bold;
  transition: all .8s ease-out; }

.welcome-section header .phone {
  color: #fff; }

.welcome-section header span {
  padding: 0 10px;
  color: #03b6e7; }

.welcome-section .hero {
  padding: 10rem 0 0 0;
  margin: 0 auto;
  text-align: center;
  color: #fff; }

.welcome-section .hero ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.welcome-section .hero ul li {
  width: 200px;
  padding: 4rem 0;
  margin: 2rem;
  background: #03b6e7;
  transition: all .15s ease-in-out; }

.welcome-section .hero ul li:hover {
  transform: scale(1.1);
  background: #f6961b; }

.about-section .header {
  margin: 0 auto; }

.about-section .partners {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top: 50px;
  padding: 50px 0 0;
  border-top: 1px solid #898989; }

.features-section {
  padding-top: 50px;
  background: #e7eff1; }

.features-section ul {
  padding: 0; }

.features-section .left {
  text-align: right; }

.features-section .right {
  text-align: left; }

.features-section .features-block {
  display: flex;
  align-items: center;
  margin-bottom: 50px; }

.features-section .features-block p {
  margin: 0; }

.features-section .features-block img {
  padding: 0 15px;
  align-self: flex-start; }

.features-section .logo {
  margin: auto;
  padding: 2rem;
  border-radius: 50%;
  box-shadow: 0 0 17px 0 #66636d;
  background: #fff; }

.features-section .boost-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: #fff;
  background: #565d5d; }

.features-section .boost-block a {
  margin: 0; }

.project-section h3 {
  margin-bottom: 40px; }

.project-section div img {
  width: 100%;
  max-height: 260px; }

.project-section .project-description {
  height: 130px;
  padding: 20px 10px;
  text-align: left;
  border: 1px solid #c9c9c9; }

.project-section .project-description:hover {
  background: #f6961b;
  color: #fff;
  border-color: #f6961b; }

.services-section {
  background: #fffaf3; }

.services-section h3 {
  margin-bottom: 40px; }

.services-section img {
  width: 43px;
  height: 63px;
  padding-bottom: 20px; }

.services-section div[class*='col'] {
  margin-bottom: 30px;
  text-align: left; }

.services-section div[class*='col'] p {
  color: #898989; }

.testimonials-section {
  text-align: center;
  color: #fff;
  background: #03b6e7; }

.testimonials-section ul {
  padding: 0; }

.testimonials-section ul li {
  display: inline-block; }

.testimonials-section ul li img {
  border-radius: 50%; }

.testimonials-section p.upper-text {
  margin-bottom: 0;
  font-weight: 700; }

.testimonials-section p.upper-text:before {
  content: '';
  display: block;
  height: 3px;
  width: 20px;
  margin: 30px auto;
  background: #fff; }

.ourBlog-section {
  background: #e7eff1; }

.ourBlog-section .picture {
  height: 315px;
  width: 100%;
  background: url("../img/home/blog-pic.jpg") 50% 0 no-repeat; }

.ourBlog-section [class*='col'] {
  display: flex;
  margin: 50px 0;
  padding: 0;
  text-align: left;
  border-top: 2px solid #16d428; }

.ourBlog-section [class*='col'] ~ div {
  border-top: 2px solid #f6961b; }

.ourBlog-section .blog-description {
  padding: 30px;
  background: #fff; }

.ourBlog-section .blog-description.gradient {
  background-image: -webkit-gradient(linear, right bottom, left bottom, color-stop(0, #C9C9C9), color-stop(0.15, #FFFFFF));
  background-image: -o-linear-gradient(right, #C9C9C9 0%, #FFFFFF 15%);
  background-image: -moz-linear-gradient(right, #C9C9C9 0%, #FFFFFF 15%);
  background-image: -webkit-linear-gradient(right, #C9C9C9 0%, #FFFFFF 15%);
  background-image: -ms-linear-gradient(right, #C9C9C9 0%, #FFFFFF 15%);
  background-image: linear-gradient(to right, #C9C9C9 0%, #FFFFFF 15%); }

.quick-contact {
  text-align: center; }

.quick-contact .inner-border {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin-top: 30px;
  text-align: left;
  border: 1px solid #c9c6d0; }

.quick-contact .inner-border img {
  float: left; }

.quick-contact .inner-border div {
  margin-left: 20px;
  overflow: hidden; }

.quick-contact .inner-border p {
  margin: 0;
  font-weight: 700; }

footer {
  background: #262829;
  color: #fff; }

footer ul li a, footer p {
  font-size: .9rem;
  color: #aeaeae; }

footer .industry-block {
  display: flex;
  justify-content: space-between; }

@media screen and (max-width: 968px) {
  footer .industry-block {
    justify-content: space-around; } }

footer form input {
  padding: 10px;
  border: 0;
  border-radius: 25px 0 0 25px;
  color: #fff;
  background-color: #323334; }

@media screen and (max-width: 960px) {
  footer form input {
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 15px;
    text-align: center; } }

footer form button {
  transform: translate(-25%, 0);
  padding: 10px 15px !important;
  border: none;
  color: #fff; }

@media screen and (max-width: 960px) {
  footer form button {
    display: block;
    margin: 0 auto;
    transform: translate(0);
    padding: 10px 15px;
    border-radius: 15px;
    color: #1f80a5;
    font-weight: 800; } }

footer .bottom-foo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #848484; }

footer .bottom-foo ul li {
  display: inline-block;
  cursor: pointer;
  font-weight: 600; }

footer .bottom-foo ul li ~ li {
  margin-left: 30px; }

footer .bottom-foo ul li:nth-child(1) {
  color: #314a7d; }

footer .bottom-foo ul li:nth-child(2) {
  color: #04a7c9; }

footer .bottom-foo ul li:nth-child(3) {
  color: #d4c5a8; }

footer .bottom-foo ul li:nth-child(4) {
  color: #1883bb; }

footer .bottom-foo ul li:nth-child(5) {
  color: #e4463b; }

section {
  text-align: center; }

.section-padding {
  padding: 50px 0; }

.upper-text {
  text-transform: uppercase; }

.active {
  color: #f6961b; }

a {
  color: #fff; }

a:hover {
  text-decoration: none;
  color: #fff; }

li {
  list-style: none; }

.btn-style {
  display: inline-block;
  padding: 5px 35px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  background: #16d428;
  border-radius: 50px; }
