.slideshow {
  position: relative;
  height: 350px;
   &>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
.cite-block {
  height: 350px;
  padding: 10% 8%;
  background: #53354a;
  p {
    font-size: 2rem;
    font-family: Italic;
    color: #fff;
    ~ p {
      padding-top: 20px;
      font-family: Bold;
      font-size: 1rem;
    }
  }
}
  .slider-switcher {
    margin: 10px 0;
    li {
      display: inline-block;
      margin-right: 20px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.29);
      &:hover {
        cursor: pointer;
      }
    }
  }
