.team-section {
  .card {
    margin: 50px 0;
  }
  h4 {
    padding: 10px 0;
    font-family: Bold;
  }
  div > span {
    font-size: .8rem;
    color: #e84545;
  }
  .card-text {
    padding: 10px 0;
    font-size: .8rem;
    line-height: 1.5;
  }

}