.ourBlog-section {
  background: #e7eff1;
  .picture {
    height: 315px;
    width: 100%;
    background: url("../img/home/blog-pic.jpg") 50% 0 no-repeat;
  }
  [class*='col'] {
    display: flex;
    margin: 50px 0;
    padding: 0;
    text-align: left;
    border-top: 2px solid $green-color;
    ~ div {
      border-top: 2px solid $orange-color;
    }
  }
  .blog-description {
    padding: 30px;
    background: #fff;
    &.gradient {
      background-image: -webkit-gradient(
                      linear,
                      right bottom,
                      left bottom,
                      color-stop(0, #C9C9C9),
                      color-stop(0.15, #FFFFFF)
      );
      background-image: -o-linear-gradient(right, #C9C9C9 0%, #FFFFFF 15%);
      background-image: -moz-linear-gradient(right, #C9C9C9 0%, #FFFFFF 15%);
      background-image: -webkit-linear-gradient(right, #C9C9C9 0%, #FFFFFF 15%);
      background-image: -ms-linear-gradient(right, #C9C9C9 0%, #FFFFFF 15%);
      background-image: linear-gradient(to right, #C9C9C9 0%, #FFFFFF 15%);
    }
  }
}