.testimonials-section {
  text-align: center;
  color: #fff;
  background: $blue-color;
  ul {
    padding: 0;
    li {
      display: inline-block;
      img {
        border-radius: 50%;
      }
    }
  }
  p.upper-text {
    margin-bottom: 0;
    font-weight: 700;
    &:before {
      content: '';
      display: block;
      height: 3px;
      width: 20px;
      margin: 30px auto;
      background: #fff;
    }
  }
}