.about-us {
  h2 {
    margin: 7rem auto;
    text-align: center;
    color: #fff;
  }
}
.error-block {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  .error-block_text {
    padding: 0 50px;
    p {
      font: 900 7rem Arial, sans-serif;
      color: #48c5ec;
    }
  }
  .vertical-line {
    height: 300px;
    border: 1px solid #bdbdbd;
  }
  .error-block_description {
    padding: 0 50px;
    p.upper-text {
      font-weight: 700;
      color: #000;
    }
    p {
      color: #7e7e7e;
    }
  }
}