@font-face {
  font-family: "Playfair Regular";
  src: url("../fonts/Playfair_display/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "Playfair Bold";
  src: url("../fonts/Playfair_display/PlayfairDisplay-Bold.ttf");
}
@font-face {
  font-family: "Playfair Black";
  src: url("../fonts/Playfair_display/PlayfairDisplay-Black.ttf");
}
@font-face {
  font-family: "Roboto Thin";
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}
/* line 35, ../sass/screen.scss */
nav li a {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  font-family: "Roboto Black";
  color: #fff;
  transition: all .11s ease-in;
}
/* line 42, ../sass/screen.scss */
nav li a:hover {
  border-color: #00e0d0;
  color: #00e0d0;
}

/* line 47, ../sass/screen.scss */
a.link-btn {
  text-decoration: none;
  text-transform: uppercase;
  color: aqua;
  font-family: "Roboto Black";
  display: inline-block;
  border: 1px solid aqua;
  padding: 10px;
  margin-top: 40px;
}

/* line 57, ../sass/screen.scss */
.container {
  padding: 40px 0;
  text-align: center;
}

/* line 62, ../sass/screen.scss */
h3, p.clients-list {
  text-transform: uppercase;
  font-family: "Playfair Bold";
  color: #66636d;
}

/* line 68, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 77, ../sass/screen.scss */
.aContainer {
  min-width: 1200px;
  margin: 0 auto;
}

/* line 81, ../sass/screen.scss */
.display-flex-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}

/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_welcome-section.scss */
.welcome-section {
  height: 100vh;
  background: #fff url(../img/hero-img.jpg) 50% 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* line 6, ../sass/_welcome-section.scss */
.welcome-section .transparent-layer {
  display: flex;
  flex-direction: column;
  height: calc(100% - 15px);
  padding-top: 15px;
  background-color: rgba(58, 33, 123, 0.77);
}
/* line 14, ../sass/_welcome-section.scss */
.welcome-section .aContainer {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 18, ../sass/_welcome-section.scss */
.welcome-section .display-flex-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}
/* line 28, ../sass/_welcome-section.scss */
.welcome-section header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 32, ../sass/_welcome-section.scss */
.welcome-section header .aContainer {
  justify-content: space-between;
  align-items: center;
}
/* line 36, ../sass/_welcome-section.scss */
.welcome-section header .logo {
  display: flex;
  align-items: center;
}
/* line 39, ../sass/_welcome-section.scss */
.welcome-section header .logo h1 {
  padding-left: 10px;
  font-family: "Roboto Thin", sans-serif;
  font-size: 2.5em;
  color: #00e0d0;
}
/* line 47, ../sass/_welcome-section.scss */
.welcome-section .main-nav {
  display: flex;
  align-items: center;
}
/* line 50, ../sass/_welcome-section.scss */
.welcome-section .main-nav li {
  padding-right: 20px;
  display: inline-block;
}
/* line 56, ../sass/_welcome-section.scss */
.welcome-section .hero {
  margin: auto;
  max-width: 700px;
  text-align: center;
}
/* line 63, ../sass/_welcome-section.scss */
.welcome-section .hero h2 {
  font-family: "Playfair Black";
  font-size: 2.6em;
  color: #fff;
}
/* line 68, ../sass/_welcome-section.scss */
.welcome-section .hero h2:after {
  display: block;
  width: 45px;
  margin: 30px auto;
  border-bottom: 1px solid #00e0d0;
  content: "";
}
@media screen and (max-width: 700px) {
  /* line 75, ../sass/_welcome-section.scss */
  .welcome-section .hero h2 .hero {
    overflow: hidden;
  }
}
/* line 78, ../sass/_welcome-section.scss */
.welcome-section .hero p {
  font-family: "Roboto Light";
  line-height: 1.6em;
  color: #6e6983;
}

/* line 2, ../sass/_ourStory-section.scss */
.our-story-section .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* line 7, ../sass/_ourStory-section.scss */
.our-story-section .logo-img {
  width: 230px;
  height: 300px;
  margin-right: 50px;
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background: url(../img/tajam-figure.jpg) 50% 0 no-repeat;
}
/* line 13, ../sass/_ourStory-section.scss */
.our-story-section .logo-img:hover {
  filter: saturate(43);
}
/* line 17, ../sass/_ourStory-section.scss */
.our-story-section .story-content {
  text-align: left;
  /* flex-grow: 2; */
  width: 30%;
  color: #66636d;
}
/* line 22, ../sass/_ourStory-section.scss */
.our-story-section .story-content p {
  padding-top: 30px;
  font: 1em/1.2em "Roboto Light";
}

/* line 1, ../sass/_watchStory-section.scss */
.watch-story {
  height: 100vh;
  background: #fff url(../img/ourstory-bg.jpg) 50% 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* line 6, ../sass/_watchStory-section.scss */
.watch-story .transparent-layer {
  display: flex;
  height: 100%;
  background-color: rgba(58, 33, 123, 0.77);
}
/* line 11, ../sass/_watchStory-section.scss */
.watch-story h3 {
  margin: auto;
  color: #fff;
}
/* line 14, ../sass/_watchStory-section.scss */
.watch-story h3 span {
  display: block;
  text-align: center;
  padding-bottom: 25px;
}

/* line 1, ../sass/_expertise-section.scss */
.expertise-section {
  display: flex;
  justify-content: center;
}
/* line 4, ../sass/_expertise-section.scss */
.expertise-section .paragraph {
  padding-top: 15px;
  font-family: "Playfair Regular";
  color: #848484;
}
/* line 8, ../sass/_expertise-section.scss */
.expertise-section .paragraph:after {
  display: block;
  width: 45px;
  margin: 30px auto;
  border-bottom: 1px solid #848484;
  content: "";
}
/* line 16, ../sass/_expertise-section.scss */
.expertise-section .services {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: stretch;
  max-width: 1000px;
}
/* line 23, ../sass/_expertise-section.scss */
.expertise-section .services li {
  flex: 1 250px;
  padding: 30px;
}
/* line 28, ../sass/_expertise-section.scss */
.expertise-section .services li.border-list {
  border-bottom: 1px solid #ccc;
}
/* line 32, ../sass/_expertise-section.scss */
.expertise-section .services li:nth-child(3n+2) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
/* line 37, ../sass/_expertise-section.scss */
.expertise-section .services span {
  color: #00e0d0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
/* line 40, ../sass/_expertise-section.scss */
.expertise-section .services span:hover {
  transform: scale(2.5);
}
/* line 44, ../sass/_expertise-section.scss */
.expertise-section .services h4 {
  padding: 15px 0;
  font-family: "Roboto Black";
}
/* line 48, ../sass/_expertise-section.scss */
.expertise-section .services p {
  font-family: "Roboto Light";
  line-height: 1.2em;
}

/* line 1, ../sass/_ourTeam-section.scss */
.our-team-section {
  background: #fff url(../img/team-bg.jpg) 50% 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* line 6, ../sass/_ourTeam-section.scss */
.our-team-section .transparent-layer {
  height: 100%;
  background-color: rgba(58, 33, 123, 0.77);
}
/* line 10, ../sass/_ourTeam-section.scss */
.our-team-section h3 {
  font-family: "Playfair Bold";
  color: #fff;
}
/* line 14, ../sass/_ourTeam-section.scss */
.our-team-section p {
  padding-top: 15px;
  font-family: "Playfair Regular";
  color: #fff;
}
/* line 18, ../sass/_ourTeam-section.scss */
.our-team-section p:after {
  display: block;
  width: 45px;
  margin: 15px auto;
  border-bottom: 1px solid #848484;
  content: "";
}
/* line 26, ../sass/_ourTeam-section.scss */
.our-team-section .team-list {
  display: flex;
  max-width: 900px;
  margin: 10px auto;
  justify-content: center;
  flex-flow: row wrap;
  /* flex: 1 250px; */
}
/* line 34, ../sass/_ourTeam-section.scss */
.our-team-section li {
  border: 1px solid #ccc;
  margin: 5px;
}
/* line 37, ../sass/_ourTeam-section.scss */
.our-team-section li h5 {
  padding: 5px;
  font-family: "Roboto Black";
  text-transform: uppercase;
  color: #fff;
}
/* line 43, ../sass/_ourTeam-section.scss */
.our-team-section li span {
  display: inline-block;
  margin-bottom: 5px;
  font-family: "Roboto Light";
  color: #fff;
}

/* line 1, ../sass/_ourWorks-section.scss */
.our-works-section {
  padding-bottom: 40px;
  text-align: center;
}
/* line 5, ../sass/_ourWorks-section.scss */
.our-works-section div.our-works {
  display: flex;
  padding: 40px;
  justify-content: space-around;
  align-items: center;
}
/* line 11, ../sass/_ourWorks-section.scss */
.our-works-section a.dribbble {
  text-decoration: none;
  color: #66636d;
}
/* line 15, ../sass/_ourWorks-section.scss */
.our-works-section .our-works-list {
  display: flex;
  flex-flow: row wrap;
}
/* line 19, ../sass/_ourWorks-section.scss */
.our-works-section li:nth-child(even), .our-works-section li:nth-child(odd) {
  /* width: 200px; */
  height: 200px;
  flex: 1 205px;
  border: 1px solid #000;
  background: #faf;
  box-sizing: border-box;
}
/* line 27, ../sass/_ourWorks-section.scss */
.our-works-section li:nth-child(odd) {
  background: #548;
}

/* line 1, ../sass/_reviews-section.scss */
.reviews-section {
  height: 100vh;
  background: #fff url(../img/testimonials-bg.jpg) 50% 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* line 7, ../sass/_reviews-section.scss */
.reviews-section .transparent-layer {
  height: calc(100% - 100px);
  padding: 50px;
  background-color: rgba(58, 33, 123, 0.77);
  text-align: center;
}
/* line 13, ../sass/_reviews-section.scss */
.reviews-section .transparent-layer .review-text {
  max-width: 900px;
  margin: 0 auto;
  color: #f0f0f2;
}
/* line 17, ../sass/_reviews-section.scss */
.reviews-section .transparent-layer .review-text p {
  padding: 40px 0;
  font-family: "Playfair Regular";
  line-height: 1.5em;
}
/* line 22, ../sass/_reviews-section.scss */
.reviews-section .transparent-layer .review-text p.author-name {
  padding: 0 0 10px;
  font-family: "Roboto Black";
  text-transform: uppercase;
}
/* line 28, ../sass/_reviews-section.scss */
.reviews-section .transparent-layer span.tengkuper {
  text-transform: uppercase;
  font-family: "Roboto Light";
}

/* line 2, ../sass/_contact-section.scss */
.contact-section .container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: left;
}
/* line 7, ../sass/_contact-section.scss */
.contact-section .container p {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-family: "Playfair Bold";
  color: #2b224c;
}
/* line 14, ../sass/_contact-section.scss */
.contact-section form {
  display: flex;
  margin-right: 60px;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  /* line 21, ../sass/_contact-section.scss */
  .contact-section form {
    justify-content: flex-start;
  }
}
/* line 24, ../sass/_contact-section.scss */
.contact-section [placeholder] {
  padding: 10px;
}
/* line 27, ../sass/_contact-section.scss */
.contact-section textarea {
  resize: none;
}
/* line 30, ../sass/_contact-section.scss */
.contact-section button {
  width: 100px;
  background: transparent;
  text-transform: uppercase;
  color: aqua;
  font-family: "Roboto Black";
  border: 2px solid aqua;
  padding: 6px;
}

/* line 1, ../sass/_footer.scss */
footer {
  background: #fff url(../img/footer-bg.jpg) 50% 50% no-repeat;
  height: 400px;
  background-size: cover;
}
/* line 6, ../sass/_footer.scss */
footer .transparent-layer {
  height: 100%;
  padding: 50px 0;
  background-color: rgba(58, 33, 123, 0.77);
}

/* line 12, ../sass/_footer.scss */
.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #fff;
}
/* line 18, ../sass/_footer.scss */
.top-footer .col {
  flex: 1 150px;
  text-align: left;
}
/* line 22, ../sass/_footer.scss */
.top-footer .col address {
  display: inline;
  padding-left: 10px;
}

/* line 28, ../sass/_footer.scss */
p.upper {
  padding-bottom: 30px;
  font-family: "Roboto Black";
  text-transform: uppercase;
}

/* line 34, ../sass/_footer.scss */
li.address {
  width: 200px;
}

/* line 38, ../sass/_footer.scss */
.tajam-text {
  padding-left: 10px;
  font-family: "Roboto Thin", sans-serif;
  font-size: 2em;
  color: #00e0d0;
}

/* line 44, ../sass/_footer.scss */
ul.social-list {
  display: flex;
  justify-content: space-between;
}

/* line 48, ../sass/_footer.scss */
.bottom-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
  color: #fff;
}
/* line 53, ../sass/_footer.scss */
.bottom-footer ul {
  display: flex;
  flex-flow: row wrap;
}
/* line 57, ../sass/_footer.scss */
.bottom-footer li {
  margin-left: 30px;
}
/* line 59, ../sass/_footer.scss */
.bottom-footer li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
